* {
    box-sizing: border-box; 
    /* правильное отображение свойт ширины и высотаы, margin и padding. */
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    /* элементы сбросили значение по умолчанию */
}

.container {
    width: 1140px;
    /* ширина контейнера */
    margin: 0 auto;
    /* обьекты по центру */
}
h1{
    margin-top: 53px;
    font-weight: 600;
}
.promo {
    padding:38px 0 61px 0;
    height: 810px;
    background: url(../img/export_main.jpg) center center/cover no-repeat;
                 /* расположение по оси x, y растянуть\не-повторять */
}

.logo .logo_img {
    display:block;
    margin: 0 auto;
    
    
}

.logo .text {
    text-align: center;
    color: #FFFFFF;
    font-size: medium;
    font-weight: 14px;
    line-height: 24px;
    text-transform: uppercase;
    margin-top:12px;
}

.title {
    text-align: center;
    font-size: 41px;
    text-transform: uppercase;
    color: #F9BF3B;
    font-weight: 600;
}
.title_big{
    margin-top: 21px;
    text-align: center;
    font-size: 80px;
    text-transform: uppercase;
    color: #FFFFFF;
}

h2.title{
    margin-top: 28px;
}


.promo_text {
    padding: 0 14px;
    margin-top: 23px;
    text-align: center;
    color:#FFFFFF;
    font-size: 19px;
    line-height: 24px;
    
}

.promo_text span{
    color:#F9BF3B;
    text-transform: uppercase;
    font-weight: 700;
    font-family: Roboto-Bold;
}


.promo .promo_btn {
    background-image:linear-gradient(to top, #2798B9, #3AB6DA 100%);
    width: 313px;
    height: 72px;
    display: block;
    margin: 70px auto;
    color: #FFFFFF;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    box-shadow: inset 0 0 0 rgb(9, 179, 221);
    cursor: pointer;
    transition-duration: 0,4s;
    outline: none;
}

.promo .promo_btn:hover{
    background-image:linear-gradient(to top, #84c5da, #00aad8 100%);

}

.more{
    color:#FFFFFF;
    text-align: center;
    text-transform: uppercase;
    font-size: 23px;
    
    
}

.more .more_img{
    display: block;
    margin: 0 auto;
    padding-top: 13px;
   
}
.waiting{
    height: 610px;
    background-color: #EFEFEF;
    padding: 85px 0 75px 0 ;
}
.waiting_wrapper{
  
    margin-top: 45px;

}

.waiting_header {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 200;
}

.waiting_subheader {
    text-align: center;
    margin-top: 18px;
    font-size: 23px;
}
.waiting_descr {
    text-align: center;
    margin-top: 23px;
    font-size: 15px;
    

}

.waiting_devider{
    background-color:#F9BF3B;
    width: 220px;
    height: 4px;
    margin: 0 auto;
    margin-top: 18px;

}

.waiting .waiting_wrapper .waiting_item {
width: 339px;
text-align: center;
display:inline-block;
vertical-align: top;
margin: 0 15px;
}.waiting .waiting_wrapper .waiting_img{
    width: 100%;
}